body{
  margin:0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, lightgreen ,lightyellow);

  
}
.heading{
  color:blueviolet;
  text-align: center;
  padding-top: 40px;
  font-size:37px;
}
.info-text{
  text-align: center;
  color:blueviolet;
  font-size: 20px;
}
.app{
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  gap:40px;
  justify-content: center;
  padding: 50px;
}
.note{
  padding: 17px;
  border-radius: 15px;
  resize:none;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  font-size: 18px;
  height: 200px;
  color: darkslateblue;
  border:none;
  outline: none;
  background: rgba(225,225,225,.1);
  box-sizing: border-box;
}
.note::placeholder {
  color: gray;
  opacity: 30%;
}
.note:hover,
.note:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}
.btn{
  height: 200px;
  border-color: rgba(255, 255, 255, 0.37);
  background: rgba(255, 255, 255, 0.27);
  border-radius: 15px;
  font-size: 70px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover{
  background: rgba(255, 255, 255, 0.55);
  color: rgba(0, 0, 0, 0.6);
  transition: all 300ms ease;
}